<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ru">
<head>
    <title>Логин</title>
</head>
<body>
    <div sec:authorize="isAnonymous()">
        <div th:if="${param.error}">
            Неправильное имя пользователя или пароль
        </div>
        <div th:if="${param.logout}">
            Успешный выход из аккаунта
        </div>
        <p>Войдите в аккаунт</p>
        <form action="/login" method="post">
            <div><label>username: <input type="text" name="username"/> </label></div>
            <div><label>password: <input type="password" name="password"/> </label></div>
            <div><input type="submit" value="Вход"/></div>
        </form>
        <div>Еще нет аккаунта?</div>
        <form action="/registration">
            <button>Регистрация</button>
        </form>
    </div>
    <div sec:authorize="isAuthenticated()">
        <div sec:authorize="hasRole('ADMIN')">Администратор ого</div>
        <p>Вы уже авторизованы)</p>
        <div sec:authentication="name"></div>
        <form action="/logout">
            <button>Выйти из аккаунта</button>
        </form>
    </div>
</body>
</html>
