<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ru">
<head>
    <title>Логин</title>
    <link rel="stylesheet" href="./resources/login.css">
    <link rel="stylesheet" href="webjars/font-awesome/5.15.4/css/all.min.css">
    <script src="webjars/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<h2>Яковлев Григорий P3213 — ВЕБ. Лабораторная 4</h2>
<div sec:authorize="isAnonymous()">
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form method="post" id="registration" action="/registration">
                <h1>Создать аккаунт</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-odnoklassniki ok"></i></a>
                    <a href="#" class="social"><i class="fab fa-vk vk"></i></a>
                </div>
                <span>или используйте форму</span>
                <span class="authError" id="registrationError"></span>
                <label><input type="text" placeholder="Имя пользователя" id="username"/></label>
                <label><input type="password" placeholder="Пароль" id="password"/></label>
                <label><input type="password" placeholder="Подтвердите пароль" id="confirmPassword"/></label>
                <button type="submit" id="submit">РЕГИСТРАЦИЯ</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="/login" method="post">
                <h1>Войти в аккаунт</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-odnoklassniki ok"></i></a>
                    <a href="#" class="social"><i class="fab fa-vk vk"></i></a>
                </div>
                <span>или используйте свой логин</span>
                <label><input type="text" placeholder="Имя пользователя" name="username" /></label>
                <label><input type="password" placeholder="Пароль" name="password" /></label>
                <span class="authError" th:if="${param.error}">
                    Неверное имя пользователя или пароль
                </span>
                <span class="authError" th:if="${param.logout}">
                    Успешный выход из аккаунта
                </span>
                <button type="submit">ВХОД</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Добро пожаловать!</h1>
                    <p>Ты уже смешарик?</p>
                    <button class="ghost" id="signIn">ВХОД</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Привет, Billy!</h1>
                    <p>Еще не вступил в наш gym?</p>
                    <button class="ghost" id="signUp">РЕГИСТРАЦИЯ</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="./resources/login.js"></script>
</div>
<div sec:authorize="isAuthenticated()">
    <div class="container">
        <div class="form-container sign-in-container">
            <form action="/logout">
                <h1>Привет, <b sec:authentication="name"></b></h1>
                <span>Вы успешно авторизированы!</span>
                <div> </div>
                <p>Ты можешь выйти из аккаунта в любое время</p>
                <button type="submit">ВЫХОД</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h1 sec:authorize="hasRole('ADMIN')">Вы — администратор</h1>
                    <p sec:authorize="hasRole('ADMIN')">Скорее переходите в приложение, используйте все свои возможности!</p>
                    <h1 sec:authorize="hasRole('USER') && !hasRole('ADMIN')">Вы простой USER</h1>
                    <p sec:authorize="hasRole('USER') && !hasRole('ADMIN')">Скорее переходите в приложение и испытайте его!</p>
                    <button class="ghost" onclick="location.href = '/app'">ПРИЛОЖЕНИЕ</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
