<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ru">
<head>
    <title>Регистрация</title>
</head>
<body>
    <div sec:authorize="isAnonymous()">
        <p>Регистрация нового пользователя</p>
        <form th:action="@{/registration}" th:method="post">
            <div><label>username: <input type="text" name="username"/> </label></div>
            <div><label>password: <input type="password" name="password"/> </label></div>
            <div><label>confirm password: <input type="password" name="confirmPassword"/> </label></div>
            <div><input type="submit" value="Регистрация"/></div>
        </form>
        <div>Уже есть аккаунт?</div>
        <form action="/login">
            <button>Войти</button>
        </form>
    </div>
    <div sec:authorize="isAuthenticated()">
        <div sec:authorize="hasRole('ADMIN')">Администратор ого</div>
        <p>Вы уже авторизованы)</p>
        <div sec:authentication="name">опа опа </div>
        <form action="/logout">
            <button>Выйти из аккаунта</button>
        </form>
    </div>
</body>
</html>
