<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ru">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>
    <title>Регистрация</title>
</head>
<body>
    <div sec:authorize="isAnonymous()">
        <div id="error"></div>

        <p>Регистрация нового пользователя</p>
        <form method="post" id="registration" action="">
            <div><label>username: <input id="username" type="text" name="username"/> </label></div>
            <div><label>password: <input id="password" type="password" name="password"/> </label></div>
            <div><label>confirm password: <input id="confirmPassword" type="password" name="confirmPassword"/> </label></div>
            <div><input id="submit" type="submit" value="Регистрация"/></div>
        </form>
        <div>Уже есть аккаунт?</div>
        <form action="/login">
            <button>Войти</button>
        </form>
    </div>
    <div sec:authorize="isAuthenticated()">
        <div sec:authorize="hasRole('ADMIN')">Администратор ого</div>
        <p>Вы уже авторизованы)</p>
        <div sec:authentication="name"></div>
        <form action="/app">
            <button>Открыть приложение</button>
        </form>
        <form action="/logout">
            <button>Выйти из аккаунта</button>
        </form>
    </div>
    <script>
        $(document).ready(function() {
            $("#submit").click(
                function() {
                    // да вообще по*уй
                    const data = '{"username":"' + $('#username').val() +
                        '","password":"' + $('#password').val() +
                        '","confirmPassword":"' + $('#confirmPassword').val() + '"}'
                    sendAjaxForm(data)
                    return false;
                }
            );
        });

        function sendAjaxForm(data) {
            $.ajax({
                url:        "/registration",
                type:       "POST",
                contentType: "application/json",
                dataType:   "json",
                data: data,
                success: [
                    function(response) {
                        if (response.success) {
                            location.href = "/app"
                        } else {
                            $('#error').html(response.message)
                        }
                    }
                ],
                error: [
                    function() {
                        $('#error').html('Ошибка. Данные не отправлены.')
                    }
                ]
            });
        }
    </script>
</body>
</html>
