.clear {
    clear: both;
}

.uni_logo {
    float: left;
    width: 360px;
    height: 40px;
}

#author {
    float: right;
    /*font-style: italic;*/
    font-weight: bold;
    color: white;
    font-size: 26px;
    margin-top: 7px;
}


#pre_back {
    padding-top: 50px;
    width: 100%;
}

body {
    margin: 0 auto;
    font-family: "ALSSchlangesans", serif;
}

header {
    background-color: rgb(93,118,120);
    width: 100%;
    margin-bottom: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    position: fixed;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
}

#main {
    background-color: rgb(191,218,217);
    border-radius: 20px;
    margin-bottom: 15px;
}

.input_style {
    background-color: white;
    border-radius: 5px;
    border-width: 1px;
    border-color: black;
}

#float_left {
    min-height: 330px;
    background-color: white;
    border-radius: 20px;
    width: 48.8%;
    float: left;
}

#float_right {
    min-height: 330px;
    text-align: right;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    width: 48.8%;
    float: right;
}

#improved {
    margin-top: 20px;
    background-color: white;
    border-radius: 20px;
}

.error {
    color: rgb(212, 87, 75);
}

h2 {
    font-family: "ALSSchlangesans", serif;
    font-weight: bold;
    text-align: center;
}

div {
    /*border: 1px solid black;*/
}

/* жирный шрифт итмо */
@font-face {
    font-family: 'font5913db4e49c28ce082b1f53d4c159e11';

    src:    url('https://nomail.com.ua/files/eot/5913db4e49c28ce082b1f53d4c159e11.eot?#iefix') format('embedded-opentype'),
    url('https://nomail.com.ua/files/woff/5913db4e49c28ce082b1f53d4c159e11.woff') format('woff'),
    url('https://nomail.com.ua/files/woff2/5913db4e49c28ce082b1f53d4c159e11.woff2') format('woff2');
}
@font-face { font-family: 'ALSSchlangesans-Bold';  src: local('ALSSchlangesans-Bold'), url('https://nomail.com.ua/files/woff/5913db4e49c28ce082b1f53d4c159e11.woff') format('woff'); }



/* шрифт итмо */
@font-face {
    font-family: 'font38d7c5cc7266e131d0d119ca61766287';

    src:    url('https://nomail.com.ua/files/eot/38d7c5cc7266e131d0d119ca61766287.eot?#iefix') format('embedded-opentype'),
    url('https://nomail.com.ua/files/woff/38d7c5cc7266e131d0d119ca61766287.woff') format('woff'),
    url('https://nomail.com.ua/files/woff2/38d7c5cc7266e131d0d119ca61766287.woff2') format('woff2');
}
@font-face { font-family: 'ALSSchlangesans';  src: local('ALSSchlangesans'), url('https://nomail.com.ua/files/woff/38d7c5cc7266e131d0d119ca61766287.woff') format('woff'); }

