header {
    margin-bottom: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.container {
    margin: auto;
    padding: 15px;
    max-width: 960px;
}

.error {
    color: red;
}

h3 {
    text-align: center;
}

body {
    margin: 0 auto;
}

div {
    border: 1px solid black;
}


.logo {
    text-align: left;
}

.author {
    text-align: center;
    float: right;
    margin: auto;
}