.clear {
    clear: both;
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}

.menu {
    max-width: 960px;
    min-height: 60px;
    margin: auto;
}

#logo {
    width: 360px;
    height: 40px;
}

#author {
    font-weight: bold;
    color: white;
    font-size: 26px;
    margin-top: 7px;
}

#monkey {
    position: fixed;
    top: 60px;
    width: 240px;
    height: 184px;
}

#liana {
    position: fixed;
    top: 60px;
    width: 350px;
    height: 291px;
}

body {
    margin: 0 auto;
    font-family: "ALSSchlangesans", serif;
}

header {
    background-color: #0D704E;
    width: 100%;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    position: fixed;
}

.container {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.element {
    background-color: white;
}

#main {
    padding-top: 60px;
    max-width: 960px;
    background-color: #8FD5A6;
    border-radius: 20px;
    margin: auto auto 15px;
}

.bordered {
    border-radius: 20px;
}

.input_style {
    min-width: 30px;
    background-color: white;
    border-radius: 5px;
    border-width: 1px;
    border-color: black;
}

.error {
    color: rgb(236, 31, 43);
}

.centered {
    text-align: center;
}

/* шрифт итмо */
@font-face {
    font-family: 'font38d7c5cc7266e131d0d119ca61766287';

    src:    url('https://nomail.com.ua/files/eot/38d7c5cc7266e131d0d119ca61766287.eot?#iefix') format('embedded-opentype'),
    url('https://nomail.com.ua/files/woff/38d7c5cc7266e131d0d119ca61766287.woff') format('woff'),
    url('https://nomail.com.ua/files/woff2/38d7c5cc7266e131d0d119ca61766287.woff2') format('woff2');
}
@font-face { font-family: 'ALSSchlangesans';  src: local('ALSSchlangesans'), url('https://nomail.com.ua/files/woff/38d7c5cc7266e131d0d119ca61766287.woff') format('woff'); }
