#result_table tr:nth-child(odd) {
    background-color: #8FD5A6;
}

#result_table tr:first-child {
    background-color: #329F5B;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
}

#result_table tr:nth-child(even) {
    background-color: white;
}

#invalidHits {
    background-color: rgb(236, 31, 43);
    color: white;
}

#result_table {
    text-align: center;
    border-radius: 13px;
    width: 100%;
    color: black;
    overflow: hidden;
    border-collapse: collapse;
}

#result_table tr[class=validHit]:hover {
    background-color: #329F5B;
    color: white;
}
