#result_table tr:nth-child(odd) {
    background-color: rgb(191,218,217);
}

#result_table tr:first-child {
    background-color: rgb(93,118,120);
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
}

#result_table tr:nth-child(even) {
    background-color: white;
}

#invalidHits {
    background-color: rgb(212,87,75);
    color: white;
}

#result_table {
    text-align: center;
    border-radius: 13px;
    width: 100%;
    color: black;
    overflow: hidden;
    border-collapse: collapse;
}

#result_table tr[class=validHit]:hover {
    background-color: rgb(212,87,75);
    color: white;
}